/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 900px;

// Large desktops
$screen-xl-min: 1200px;

// Colors

$lightred: #E84855;
$deepblue: #081353;
$yellow: #FFE986;





// $peach1: #F2C3AF;
// $peach2: #EDA688;
// $peach3: #D98461;
// $peach4: #C55D32;
// $bloodorange1: #EA9589;
// $bloodorange2: #E07666;
// $bloodorange3: #DB604F;
// $bloodorange4: #A52513;
// $ocean1: #ADD9ED;
// $ocean2: #84BFDA;
// $ocean3: #63ACCC;
// $ocean4: #1F4C5F;
// $white: white;
