/* =============
    hero
============= */

#hero{
    // background-image: url("img/hero.jpg");
    background-image: url("deploy/img/hero.jpg");
    background-position: center;
    background-size: cover;


    

    ul{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". content .";
        text-align: center;

        img{
            // max-width: 500px;
        }

        li{
            grid-area: content;
            margin-top: 60px;
            
            button{
                margin: 50px;
                margin-top: 500px;
                border: none;
                color: none;
            }
        }
    }
    

}