/* =============
    Buttons
============= */



.buttonred{
    font-family: 'Poppins', sans-serif;
    background-color: $lightred;
    padding: 9px;
    border: none;
    margin-top: 15px;
    color: white;
}